<nav class="navbar-fixed-top navbar-inverse navbar">
  <div class="row header">
    <div class="pull-right" style="color: #FFFFFF"><i class="fa fa-bank"></i> Points <span class="badge badge-inverse">200</span> &nbsp;&nbsp;&nbsp; <i class="fa fa-shopping-cart"></i> <span class="badge badge-inverse">{{ (shoppingCart|async)?.lineItems.length }}</span>
    </div>
  </div>


  <div class="row menu">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      <img src="assets/img/cart-logo.png" style="margin-left:37px;height:45px;margin-right:20px">
    </div>

    <div class="container">
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]=" ['./home'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>
          <li>
            <a [routerLink]=" ['./plans'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-list" aria-hidden="true"></i> Plans</a>
          </li>
          <li>
            <a [routerLink]=" ['./about'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
