/* You can add global styles to this file, and also import other style files */

@import '../assets/css/bootstrap.min.css';
@import '../assets/css/font-awesome-4.7.0/css/font-awesome.min.css';

/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

body {
  $fallback: "Open Sans";
  .wf-active & {
    font-family: "Roboto";
  }
}

.btn-success {
  background: rgb(48, 100, 43);
  border-color: rgb(48, 100, 43);
}
